* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

.header {
    /* height: 90vh; */
    background-image: linear-gradient(
                        to right bottom,
                        rgba(207, 31, 54, 0.8), 
                        rgba(175, 28, 219, 0.8)), 
                        url("Serving.jpg");
    background-size: cover;
    background-position: center;   
    position: relative;
    /* clip-path: polygon(0 0, 100% 0, 100% 100% , 0 80%); */
}
.logo-box {
    position: absolute;
    top: 40px;
    left: 4%;
}
.logo {
    height: 13vh;
}

.text-area {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}
.heading-primary {
    position: relative;
    color: white;
    text-transform: uppercase;
}
.heading-primary-main {
    margin: 0;
    display: block;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 52px;
}
.heading-primary-sub {
    display: block;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 12px;
}
.heading-primary-last {
    display: block;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 21.8px;
}

section {
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 100%;
    height: 100vh;
}
#curve {
     position: absolute;
     bottom: 0;
}
path {
    fill:white;
}
.start-button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 70px;
    text-align: center;
    line-height: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    color: #fff;
    background-color: rgba(31, 104, 172, 0.8);
    text-decoration: none;
    
}

@media screen and (max-width:700px) {
    .header {
        height: 90vh;
    }
    
    .logo {
        height: 8vh;
    }
    .text-area {
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%, -50%);
    }
    .heading-primary {
        position: relative;
        color: white;
        text-transform: uppercase;
    }
    .heading-primary-main {
        margin: 0;
        display: block;
        font-size: 35px;
        font-weight: 400;
        letter-spacing: 22px;
    }
    .heading-primary-sub {
        margin-top: 10px;
        display: block;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 6px;
    }
    .heading-primary-last {
        margin-top: 10px;
        display: block;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 10px;
    }
    .start-button {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 110px;
        height: 30px;
        text-align: center;
        line-height: 20px;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1.5px;
        color: #fff;
        background-color: rgba(31, 104, 172, 0.8);
        text-decoration: none;
        
    }
        
}