* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    height: 100vh;
}

.header {
    /* height: 90vh; */
    background-image: linear-gradient(
                        to right bottom,
                        rgba(207, 31, 54, 0.8), 
                        rgba(175, 28, 219, 0.8)), 
                        url("../Images/Serving.jpg");
    background-size: cover;
    background-position: center;   
    position: relative;
}
.logo-box {
    position: absolute;
    top: 40px;
    left: 4%;
}
.logo {
    height: 13vh;
}

.text-area {
    margin-top: 12%;
    padding: 2px;
    background-color: rgba(199, 199, 199, 0.5);
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}

.form {
    height: auto;
    width: 400px;
}

h1 {
    width: 400px;
    margin-left: 0px;
    text-align: center;
}


section {
    margin: 0;
    padding-top: 20%;
    background-color: transparent;
    width: 100%;
    height: 100vh;
}
#curve {
     position: absolute;
     bottom: 0;
}
path {
    fill:white;
}

.center {
    display: flex;
    justify-content: center;
}

#Register {
    line-height: 0.5;
    height: 22px;
    padding: 2px;
}
.emoji {
    font-size:20px;
}
.message {
    position: absolute;
    font-size: 1.1rem;
    bottom: 1%;
}

@media screen and (max-width:700px) {
    .header {
        height: 90vh;
    }
    
    .logo {
        height: 8vh;
        margin-left: 15px;
    }
    .text-area {
        top: 39%;
        height: 350px;
        width: 300px;
    }
    h1 {
        width: 250px;
        margin-left: 0px;
        text-align: center;
    }

    .form {
        height: 90%;
        width: 250px;
    }
    
        
}